nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: var(--transition);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#nav__menu {
    display: flex;
    gap: 3.5rem;
}

a {
    color: white;
}

/* hide nav menu on tablets and phones */

@media all and (max-width: 600px) {
    #nav__menu {
        /* display: none; */
        font-size: 10px;
        gap: 0.5rem;
    }

}