.header{
    text-align: center;
    color: white;
    border: solid black;
    padding: 20px;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../../assets/mwah.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    background-position: center top;
    transition: var(--transition)
   
}
 
.content{
    margin-top: 10rem;
    border: solid red;
    margin-left: 5rem;
}

.content h1{
    font-weight: bold;
    font-size: 40px;
   
}

.content p{
    font-size: 16px;
    line-height: 30px
}

.header__cta{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-top: 25px;
    margin-left: 12rem;
}

.header__socials{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header__socials a{
    width: 1.8rem;
    font-size: 20px;
    aspect-ratio: var(--color-light);
    display: grid;
    padding-left: center;
    place-items: center;
    border-radius: var(--border-radius-3);
}

.header__socials a:hover{
    color: #662843;
    transform: translateX(-0.5rem);
    border-radius: 20%;
}

/* Media Queries Tablets and Phones */
@media all and (max-width: 1440px){
    .header {
        /* margin-top: 50px; */
        height: 100vh;
        text-align: center;
        color: white;
        border: solid black;
        padding: 10px;
               
    }

    .content{
        margin-top: 50px;
    }

    .header__socials{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-left: 50px;
        margin-bottom: 0.1rem;
        margin-top: 40px;
        gap: 1rem;
    }
}


@media all and (max-width: 600px){
    .header{
    height: 60vh;
    margin-top: 0%;
    margin-bottom: auto;
    max-width: fit-content;
    }

    .content p{
        width: 100%;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 10px;
        margin-top: 0;
        margin-left: 5px;
        align-items: center;

    }
    .content h1{
        font-weight:100;
        font-size: 30px;
    }

    .header__cta{
        gap: 1rem;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin-top: 10px;
        margin-left: 2rem;
    }

    .header__socials a{
        width: 1rem;
        font-size: 10px;       
    }

    .header__socials{
        margin-left: 50px;
        margin-bottom: 5rem;
        margin-top: 10rem;
        gap: 0.5rem;
        top: 0;
    }
}



