.me{
    margin: 0;
    padding: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
}

.me h1{
    margin: 0;
}

.about-img{
    border-radius: 2rem;
    overflow: hidden;
    object-fit: cover;
    transition: var(--transition);
    border: 100px;
}
.about-content h3{
    margin-bottom: 3rem;
}