.home{
    text-align: center;
    color: white;
    border: solid black;
    padding: 20px;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../assets/mwah.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh;
    background-position: center top;
   
}
   

.content{
    margin-top: 10rem;
}
.content h1{
    margin-bottom: 3rem;
    font-weight: bolder;
    font-size: 60px;
}

.content p{
    font-size: 16px;
    line-height: 30px
}

.btn{
margin-top: 5rem;
margin-left: 3rem;
width: 20%;
padding: 15px;
border-radius: 1rem;
}

