* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: hsl(var(--primary-hue), 89%, 42%);
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

  /* general container variables*/

  --container-width-lg: 76%;
  --container-widge-md: 90%;

  /* border radius variables */

  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* general transition variable */

  --transition: all 500ms ease;

} 

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Fredoka One', cursive;
  line-height: 1.6;
  font-size: 0.9rem;
}

/* general container class */

.container{
 width: var(--container-width-lg);
 margin-inline: auto;
 max-width: 1920px;
}

/* general section styles */

section{
padding: 10rem 0;
background: var(--color-light);
transition: var(--transition);
}

section:nth-child(even){
  background: var(--color-white);
}

section h2{
  text-align: center;
}

section > p {
  text-align: center;
  margin: 0.5rem aut, 4rem;
  width: 40%;
}

a{
  color: var(--color-white);
  transition: var(--transition);
}

/* general heading styles */

h1 h2 h3 h4 h5 h6{
line-height: 1.1;
color: #662843;
}

/* general images styles */

img{
display: block;
width: 100%;
object-fit: cover;
}

/* general btn styles */

.btn{
display: inline-block;
width: fit-content;
display: flex;
align-items: center;
gap: 1rem;
background: var(--color-light);
color: var(--color-black);
padding: 0.6rem 2.5rem;
border: 2px solid transparent;
border-radius: var(--border-radius-2);
cursor: pointer;
}

.btn:hover{
  background-color: transparent;
  border-color: var(--color-light);
  transform: translateY(0.5rem);
}

